$colorBlack: black;
$colorWhite: white;
$colorGreen: #186236;
$colorGray: #3B403D;
$colorButton: #3b403d9c;
$colorGrayButton: #3b403d5a;
$colorPoint: #82829B;
$colorPointd: #DDDDE4;
$colorGreenPoint: #28A43C;
$colorRed: red;
$colorCard: #F3FAF6;