$colorBlack: black;
$colorWhite: white;
$colorGreen: #186236;
$colorGray: #3B403D;
$colorButton: #3b403d9c;
$colorGrayButton: #3b403d5a;
$colorPoint: #82829B;
$colorPointd: #DDDDE4;
$colorGreenPoint: #28A43C;
$colorRed: red;
$colorCard: #F3FAF6;
$colorLast: #eaeaea;
$colorPointLast: #adadb7;
$colorBlue: blue;
$colorExport: #F7F8F7;
$colorNavbarChildProfile: #ABADAC;
$colorCardBottom: rgba(0, 0, 0, 0.53);
$colorBorder: #DFE2E0;
$colorList: #DBDBDB;
$colorSkills: #E7E8E7;
$colorHoverMessages: #F4F5F5;
$colorlistJobs: #A2A2A2;
$colorActiveJobsFilter: #84e4941e;
$colorButtonFilter: #EDF2EF;
$colorHoverCart: #888888;